* {
    margin: 0;
    padding: 0;
}

/* Inicio Index */

body {
    overflow-x: hidden;
}

.tela {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url('/img/estrada.jpg');
    background-size: cover;
    /* Faz a imagem cobrir toda a área da tela */
    background-repeat: no-repeat;
    /* Impede que a imagem se repita */
    background-position: center;
    /* Centraliza a imagem no fundo */
}

.TelaL {
    border: 2px solid white;
    border-radius: 20px;
    width: 450px;
    height: 400px;
    background-color: transparent;
    backdrop-filter: blur(40px);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    padding: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

/* Inicio Home */

.titulo {
    margin-top: 15px;
}

.home {
    background: none;
    border: none;
    padding: 0;
}

.home i {
    position: fixed;
    font-size: 25px;
    right: 18px;
    top: 3%;
    cursor: pointer;
    color: white;
}



/* Fim Home */

.container {
    margin-bottom: 20px;
}

.senha {
    padding: 10px;
}

.user {
    position: relative;
    width: 100%;
    height: 50px;
}

span {
    position: relative;
    width: 1%;
    height: 50px;
}

.olho-icon {
    position: absolute;
    font-size: 22px;
    left: 483px;
    top: -1%;
    cursor: pointer;
    padding: 5px;
}

.olho-icon2 {
    position: absolute;
    font-size: 22px;
    left: 495px;
    top: 17%;
    cursor: pointer;
    padding: 5px;
}

.user input {
    width: 75%;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    color: white;
    padding: 10px 20px 10px 10px;
    border: 2px solid white;
    border-radius: 50px;
    letter-spacing: 2px;
    text-align: start;
    font-weight: bold;
}

.user i {
    position: absolute;
    font-size: 22px;
    right: 58px;
    top: 20%;
}

input::placeholder {
    background-color: transparent;
    color: #A4A4A4;
    font-weight: bold;
}

.lembrar {
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 5px;
}

.logar {
    margin-top: 30px;
    width: 50%;
    border: 2px solid white;
    border-radius: 50px;
    height: 40px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

.logar:hover {
    background-color: white;
    border: none;
    color: black;
}

.logue {
    margin-top: 30px;
    font-size: 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: white;
}

.spinner, .spinner1, .spinner2, .spinner3 {
    display: flex;
    width: 10px;
    height: 10px;
    border: 2px solid transparent;
    border-top-color: black;
    border-left-color: black;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}

.spinner2 {
    margin-left: 105px;
}

.spinner3, .spinner1 {
    margin-left: 105px;
}

.spinner {
    margin-left: 100px;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Fim Index */

/* Inicio Cadastro */

.telaC {
    border: 2px solid white;
    border-radius: 20px;
    width: 450px;
    height: 630px;
    background-color: transparent;
    backdrop-filter: blur(40px);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}


.form input {
    width: 75%;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    color: white;
    padding: 10px 20px 10px 10px;
    border: 2px solid white;
    border-radius: 50px;
    letter-spacing: 2px;
    text-align: start;
    font-weight: bold;
}

.container p {
    text-align: start;
    color: white;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.lembre {
    margin-right: 51%;
    color: white;
    margin-top: 5px;
}

.next {
    margin-top: 10px;
    width: 50%;
    border: 2px solid white;
    border-radius: 50px;
    height: 40px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

.next:hover {
    background-color: white;
    border: none;
    color: black;
}

.login {
    margin-top: 25px;
    font-size: 15px;
}

/* Fim Cadastro

/* Inicio Senha/Esqueci */

.telaS {
    border: 2px solid white;
    border-radius: 20px;
    width: 450px;
    height: 400px;
    background-color: transparent;
    backdrop-filter: blur(40px);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

.crieS {
    margin-bottom: -20px;
}

.container-btn p {
    text-align: start;
    color: white;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.senha {
    position: relative;
    width: 100%;
    height: 60px;
}

.senha input {
    width: 75%;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    color: white;
    padding: 10px 20px 10px 10px;
    border: 2px solid white;
    border-radius: 50px;
    letter-spacing: 2px;
    text-align: start;
    font-weight: bold;
}

.senha i {
    position: absolute;
    font-size: 22px;
    right: 65px;
    top: 60%;
}

.fim {
    margin-top: 80px;
    width: 50%;
    border: 2px solid white;
    border-radius: 50px;
    height: 40px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

.fim:hover {
    background-color: white;
    border: none;
    color: black;
}

.termos {
    margin-right: 100px;
    color: white;
    margin-top: 8px;
}

.redefinir {
    margin-top: 30px;
    width: 50%;
    border: 2px solid white;
    border-radius: 50px;
    height: 40px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

.redefinir:hover {
    background-color: white;
    border: none;
    color: black;
}

/* Fim Senha/Esqueci */

/* Inicio Tela Inicial */

.header {
    display: flex;
    justify-content: space-around;
    background-image: url('/img/estrada.jpg');
    /* Link direto da imagem */
    background-size: cover;
    /* Faz com que a imagem cubra todo o fundo */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
    height: 10vh;
    /* cobre a altura da janela */
    padding: 10px;

}

.casa {
    color: white;
    line-height: 60px;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 600;
}

.TelaI {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 25px;
    width: 99%;
    height: 100%;
}

.title {
    color: black;
    text-align: center;
    font-size: 45px;
    padding: 20px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

small{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
    margin-right: 4px;
    font-size: 10px;
    margin-bottom: 10px;
}

.conteudo {
    text-align: justify;
    margin: 20px 80px;
    text-indent: 30px;
}

.dimensao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caminhos {
    width: 550px;
    height: 400px;
    padding: 10px;
}

.familia {
    width: 650px;
    height: 500px;
    padding: 10px;
}

hr {
    width: 1300px;
    margin-left: 80px;
}

.lorem {
    color: black;
}

/* Inicio Footer */

footer {
    margin-top: 20px;
}

.footer-container {
    text-align: center;
    font-size: 20px;
    justify-content: space-around;
    background-image: url('/img/estrada.jpg');
    /* Link direto da imagem */
    background-size: cover;
    /* Faz com que a imagem cubra todo o fundo */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
    height: 10vh;
    /* cobre a altura da janela */
    padding: 10px;
    width: 100%;
    height: 100px;
}

.create {
    font-size: 20px;
    padding: 10px 0 10px 0;
    color: white;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
    border-radius: 50px;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* Fim Footer */

/* Fim Tela Inicial */


/* Responsivo Inicio */

@media (max-width: 1024px) {

    header, .TelaI, footer {
        overflow-x: hidden;
    }

    main {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .conteudo {
        text-align: justify;
        margin: 20px 42px;
    }

    .caminhos {
        width: 500px;
        height: 400px;
        padding: 3px;
    }
    
    .familia {
        width: 500px;
        height: 400px;
        padding: 3px;
    }

    small {
        margin: 0 20px 10px;
        font-size: 13px;
    }

    hr {
        margin-left: 4%;
        width: 91.3%;
    }

    .telaC {
        width: 400px;
        height: 600px;
    }

    .form input {
        width: 75%;
        font-size: 12px;
    }
    
    .next {
        margin-top: 10px;
        width: 50%;
        height: 35px;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    footer {
        margin-top: 5px;
    }
}

@media (max-width: 768px) {

    header, .TelaI, footer {
        overflow-x: hidden;
    }

    main {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .conteudo {
        text-align: justify;
        margin: 20px 30px;
    }

    .caminhos {
        width: 400px;
        height: 300px;
        padding: 3px;
    }
    
    .familia {
        width: 400px;
        height: 300px;
        padding: 3px;
    }

    small {
        margin: 0 180px 10px;
    }

    hr {
        margin-left: 4%;
        width: 91%;
    }

    .telaC {
        width: 400px;
        height: 600px;
    }

    .form input {
        width: 75%;
        font-size: 10px;
    }
    
    .next {
        margin-top: 10px;
        width: 50%;
        height: 30px;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    footer {
        margin-top: 5px;
    }
}

@media (max-width: 480px) {

    header, .TelaI, footer {
        overflow-x: hidden;
    }
    
    .criador, .perfil {
        margin-top: 15px;
    }

    main {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    h2{
        font-size: 20px;
    }

    .conteudo {
        text-align: justify;
        margin: 20px 30px;
        font-size: 14px;
    }

    .caminhos {
        width: 200px;
        height: 200px;
        padding: 3px;
    }
    
    .familia {
        width: 200px;
        height: 200px;
        padding: 3px;
    }

    small {
        margin: 0 10px 10px;
        text-align: center;
    }

    hr {
        margin-left: 6%;
        width: 87%;
    }

    .tela{
        overflow-y: hidden;
    }

    .telaC {
        width: 400px;
        height: 680px;
        overflow-y: hidden;
    }

    .form input {
        width: 80%;
        font-size: 12px;
    }
    
    .next {
        margin-top: 10px;
        width: 50%;
        height: 30px;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    footer {
        margin-top: 5px;
    }
}

/* Responsivo Fim */